
html {border: 2%;}


header {
margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom:20px;
  height: 100px;
  background-color: black;
}

a.button {
  margin-bottom:5px;
  background-color:black;
  color:#DAF1FF;
}

body { background:
linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
background-size: 100px 100px;
background-color:#888;
background-color:#DAF1FF;
}

h1 {
  color:white;
}

h6 {
  margin-left: 300px;
  margin-right:20px;
  margin-bottom:300px;
}
 .footer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
    height: 35px;
    background-color: black;
    color:white;
 }
/* Larger than mobile */
@media (min-width: 400px) {

}